/* @theme base */

@import "gaia";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&family=Noto+Serif+JP:wght@200;400;700&display=swap");


:root {
  --main-theme: rgb(14, 131, 253);
  --background-theme: rgb(239, 255, 255);
  --background-code: rgb(255, 229, 193);
  --black: rgb(40, 40, 40);
  --h1-font-size: 50px;
  --h2-font-size: 45px;
  --h3-font-size: 40px;
  --h4-font-size: 35px;
  --header-footer-font-size: 20px;
  --main-font-size: 28px;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --normal-border-radius: 5px;
  --mini-font-size: 15px;
  --header-footer-height: 50px;
}

section {
  padding: 60px 40px 10px 40px;
  background-color: var(--background-theme);
  font-family: "Noto Serif JP", sans-serif;
  font-size: var(--main-font-size);
  font-weight: var(--font-weight-normal);
  color: var(--black);
}

header {
  width: 100%;
  color: var(--black);
  font-size: var(--header-footer-font-size);
  height: 50px;
}

footer {
  width: 100%;
  color: var(--black);
  text-align: left;
  padding-bottom: 0;
  font-size: var(--header-footer-font-size);
  height: 50px;
}

section h1 {
  font-size: var(--h1-font-size);
  border-bottom: 2px solid var(--black);
  margin-bottom: 10px;
}

section h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-normal);
}

section h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-normal);
}

section h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-normal);
}

section p img {
  display: block;
  margin: 0 auto;
  border-radius: var(--normal-border-radius);
}

section pre {
  background-color: var(--background-theme);
  border-radius: var(--normal-border-radius);
  border: var(--black) 1px solid;
}

section code.language-txt {
  color: var(--black);
}

section code {
  color: var(--black);
  background-color: var(--background-code);
  padding: 4px 8px 4px;
  border-radius: 4px;
}

section ul,
ol {
  padding-left: 40px;
}

/* lead: タイトルスライド */

section.lead h1 {
  margin: 0 auto 100px;
  border: 0;
}

section.lead h2 {
  margin: 0 auto 100px;
}

/* toc: 目次(Table Of Content) */

section strong {
  font-weight: var(--font-weight-bold);
}

section.toc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* center */
}

section.toc h1 {
  align-self: center;
  text-align: center;
}

/* >: 引用と下部の引用元 */

blockquote {
  border-top: 0.1em dashed var(--black);
  font-size: var(--mini-font-size);
  width: 100%;
  width: 90%;
  position: absolute;
  bottom: var(--header-footer-height);
  padding-left: 0px;
}

blockquote::before {
  display: none;
}

blockquote::after {
  display: none;
}

/* 右下ページ数 */

section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

/* 1枚だけ上半分を空ける用 */
section.photo-reserve {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* 上半分の“予約領域” */
section.photo-reserve .photo-area {
  flex: 0 0 50%;                 /* 高さをだいたい半分確保 */
  border: 2px dashed rgba(0,0,0,.25); /* 枠いらなければ消してOK */
  border-radius: var(--normal-border-radius);
  margin-bottom: 16px;
}

section.fullimage {
  padding: 0;
}

section.fullimage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
